    body{
       margin: auto;
       width:100%;
       

        

  

    }

    img{

        display: block;
        border-style: solid;
        border-width: thin;
         width:100%;
        
    }




        #output{
            width:50%;
        }
       

    #words{
        color:black;
        background-color:black ;
    }

    #words:hover{color:white;}